body {
  font-family: "Roboto" sans-serif;
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
h1 {
  font-size: 20px;
  }
h2 {
  font-size: 15px;
  padding: 0px;
  padding-bottom: 15px;
}
p {
  padding-left: 0px;
  /*padding: 10px;*/
  font-size: 12px;
  text-align: justify;
}
.left {
  width: 125px;
  padding: 5px;
  padding-left: 0px;
  float: left;
  clear: left;
}
.right {
  width: 125px;
  padding: 5px;
  padding-right: 0px;
  float: right;
  clear: right;
}
